.inner {
  align-items: center;
  padding: 4%;
  margin-top: 5%;
  color: white;
  text-align: center;
}

.pass {
  padding-top: 10%;
  font-size: 20px;
  text-align: justify;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.question p {
  padding-top: 15%;
  font-size: 20px;
  padding-left: 5%;
  font-style: oblique;
}

.question h1 {
  font-style: oblique;
  padding-left: 5%;
}

.answer {
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 5%;
}

textarea {
  resize: none;
}

.sub {
  padding-top: 10%;
  float: right;
  padding-right: 5%;
}

.countdown p {
  display: inline;
  font-size: 30px;
  color: red;
  position: relative;
  right: -500px;
}
