{% load static %}

<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="utf-8" />
      <title>GradeEz | Thank you</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="stylesheet"
        href="{% static 'api/assets/css/bootstrap.min.css' %}"
      />
      <link
        rel="stylesheet"
        href="{% static 'api/assets/css/fontawesome-all.css' %}"
      />
      <link rel="stylesheet" href="{% static 'api/assets/css/style.css' %}" />
    </head>
    <body>
      <!-- Start of thank you section
		============================================= -->
      <section id="thank-you" class="thank-you-section">
        <div class="container">
          <div
            class="thank-you-wrapper position-relative thank-wrapper-style-one"
          >
            <!-- <div class="thank-you-close text-center">x</div> -->
            <div class="thank-txt text-center">
              <div class="thank-icon">
                <img src="{% static 'api/assets/img/tht5.png' %}" alt="" />
              </div>
              <h1>Thank you for using GradeEz!</h1>
              <p>
                You&apos;ll receive an email about your test scores as soon as
                our AI finishes evaulating your answers. If you have any
                discrepencies you can get in touch of the faculty who set this
                quiz.
              </p>
              <a
                class="d-block text-center text-uppercase"
                href="{% url 'logout_page' %}"
                >Logout</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- End of thank you section
 		============================================= -->

      <script src="{% static 'api/assets/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'api/assets/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'api/assets/js/main.js' %}"></script>
    </body>
  </html>
</html>
